@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');

}

#qna{
    display: none;
}
.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    width: 80%;
}
.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block; 
    /* 답변 세가지가 연이어 나와서 한줄에 하나 나오도록 block */
    width: 80%;
    border: 0px;
    font-size: 20px;
}

.answerList:hover, .answerList:focus{
    background-color: #FDE1B4;
    color: whitesmoke;
}

.status{
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}
.statusBar{
    height: 100%;
    border-radius: 20px;
    background-color: #FFB900;
}


